* {
    padding: 0; 
    margin: 0; 
    font-family: 'Times New Roman';
    color: black; 
    text-decoration:double ;
    text-align: center;
}

h1 {
    text-align: center;
    background-color: blueviolet;
    color: black;
    padding: 20px;
}


h4 {
    text-align: justify;
    color: rgb(122, 6, 6); 

} 

h5 { 
    text-align: justify;
    color: rgb(122, 6, 6); 


} 


h6 {
    text-align: justify;
    color: rgb(122, 6, 6);

} 

